services:
  npmplus:
    container_name: npmplus
    image: docker.io/zoeyvid/npmplus:latest # or ghcr.io/zoeyvid/npmplus:latest
    restart: always
    volumes:
      - npm_data:/data
      - npm_certs:/etc/letsencrypt
    environment:
      - TZ=America/New_York
      - ACME_EMAIL=admin@streametz.com
      - LOGROTATE=true
    ports:
      - '80:80'
      - '81:81'
      - '443:443'

  crowdsec:
    container_name: crowdsec
    image: docker.io/crowdsecurity/crowdsec:latest
    restart: always
    ports:
      - '7422:7422'
      - '8080:8080'
    environment:
      - TZ=America/New_York
      - USE_WAL=true
      - COLLECTIONS=ZoeyVid/npmplus
    volumes:
      - crowdsec_conf:/etc/crowdsec
      - crowdsec_data:/var/lib/crowdsec/data
      - type: volume
        source: npm_data
        target: /opt/npmplus/nginx
        volume:
          subpath: nginx
        read_only: true

  cloudflare-ddns:
    container_name: cloudflare-ddns
    image: timothyjmiller/cloudflare-ddns:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /docker/proxy/cloudflare_ddns/config.json:/config.json
    restart: unless-stopped

networks:
  default:
    external: true
    name: proxy

volumes:
  npm_certs:
    external: true
  npm_data:
    external: true
  crowdsec_conf:
    external: true
  crowdsec_data:
    external: true
