services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    networks:
      - proxy
    ports:
     # - '80:80'
      - '81:81'
     # - '443:443'
    volumes:
      - npm_data:/data
      - npm_certs:/etc/letsencrypt

  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /docker/proxy/cloudflare_ddns/config.json:/config.json
    restart: unless-stopped

networks:
  proxy:
    external: true

volumes:
  npm_certs:
    external: true
  npm_data:
    external: true
