services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - npm_data:/data
      - npm_certs:/etc/letsencrypt

  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /docker/proxy/cloudflare_ddns/config.json:/config.json
    restart: unless-stopped

networks:
  default:
    external: true
    name: proxy

volumes:
  npm_certs:
    external: true
  npm_data:
    external: true
