services:
  npmplus:
    container_name: npmplus
    image: docker.io/zoeyvid/npmplus:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 4G
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    volumes:
      - /var/lib/docker_data/npmplus/data:/data
      - /var/lib/docker_data/npmplus/certs:/etc/letsencrypt
      - /var/lib/docker_data/geoip:/opt/npmplus/goaccess/geoip
    environment:
      - TZ=America/New_York
      - ACME_EMAIL=admin@streametz.com
      - GOA=true
    networks:
      proxy:
        ipv4_address: 172.25.0.2
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    healthcheck:
      # use -k to ignore self-signed certs
      # use --fail so curl reports an error code if the page returns 404/500
      test: ["CMD", "curl", "--fail", "-k", "https://127.0.0.1:81"] 
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    labels:
      - homepage.group=Network
      - homepage.name=NPMPlus
      - homepage.icon=nginx-proxy-manager.png
      - homepage.href=http://freckles:81
      # WIDGET
      - homepage.widget.type=npm
      - homepage.widget.url=https://npmplus:81
      - homepage.widget.username=readonly@streametz.com
      - homepage.widget.password=${NPM_PASSWORD}

  crowdsec:
    container_name: crowdsec
    image: docker.io/crowdsecurity/crowdsec:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 4G
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    volumes:
      - /var/lib/docker_data/crowdsec/config:/etc/crowdsec
      - /var/lib/docker_data/crowdsec/data:/var/lib/crowdsec/data
      - /var/lib/docker_data/geoip:/var/lib/crowdsec/data/geoip
      - /var/lib/docker_data/npmplus/data/nginx:/opt/npmplus/nginx:ro
      - /var/lib/docker_data/plex/Library/Application Support/Plex Media Server/Logs:/var/log/plex:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=America/New_York
      - USE_WAL=true
      - COLLECTIONS=${CROWDSEC_COLLECTIONS}
    healthcheck:
      test: ["CMD", "cscli", "lapi", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - homepage.group=Network
      - homepage.name=CrowdSec
      - homepage.icon=crowdsec.png
      # WIDGET CONFIG
      - homepage.widget.type=crowdsec
      - homepage.widget.url=http://crowdsec:8080
      - homepage.widget.username=homepage
      - homepage.widget.password=24PiowJ1yE3iSy9Mts66sotXP32cEEiRScd4G1WGeHOFJYKEkvHv4vjWY5mQiMNF

  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate:v7.0
    container_name: geoipupdate
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - GEOIPUPDATE_ACCOUNT_ID=${GEOIP_ACCOUNT_ID}
      - GEOIPUPDATE_LICENSE_KEY=${GEOIP_LICENSE_KEY}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-ASN GeoLite2-Country
      - GEOIPUPDATE_FREQUENCY=24
      - TZ=America/New_York
    volumes:
      - /var/lib/docker_data/geoip:/usr/share/GeoIP

networks:
  default:
    name: proxy
    external: true
