services:
  npmplus:
    container_name: npmplus
    image: docker.io/zoeyvid/npmplus:latest # or ghcr.io/zoeyvid/npmplus:latest
    restart: always
    volumes:
      - npm_data:/data
      - npm_certs:/etc/letsencrypt
      - geoip_data:/data/geoip
    environment:
      - TZ=America/New_York
      - ACME_EMAIL=admin@streametz.com
      - LOGROTATE=true
    ports:
      - '80:80'
      - '81:81'
      - '443:443'

  crowdsec:
    container_name: crowdsec
    image: docker.io/crowdsecurity/crowdsec:latest
    restart: always
    volumes:
      - crowdsec_conf:/etc/crowdsec
      - crowdsec_data:/var/lib/crowdsec/data
      - geoip_data:/var/lib/crowdsec/data/geoip
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - type: volume
        source: npm_data
        target: /opt/npmplus/nginx
        volume:
          subpath: nginx
        read_only: true
    environment:
      - TZ=America/New_York
      - USE_WAL=true
      - COLLECTIONS=ZoeyVid/npmplus crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules crowdsecurity/http-cve gauth-fr/immich crowdsecurity/nextcloud Dominic-Wagner/vaultwarden corvese/apache-guacamole LePresidente/overseerr

  cloudflare-ddns:
    container_name: cloudflare-ddns
    image: timothyjmiller/cloudflare-ddns:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /docker/proxy/cloudflare_ddns/config.json:/config.json
    restart: unless-stopped

  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate:latest
    container_name: geoipupdate
    restart: unless-stopped
    environment:
      - GEOIPUPDATE_ACCOUNT_ID=${GEOIP_ACCOUNT_ID}
      - GEOIPUPDATE_LICENSE_KEY=${GEOIP_LICENSE_KEY}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-ASN
      - GEOIPUPDATE_FREQUENCY=24 # Check for updates every 24 hours
    volumes:
      - geoip_data:/usr/share/GeoIP

networks:
  default:
    external: true
    name: proxy

volumes:
  npm_certs:
    external: true
  npm_data:
    external: true
  crowdsec_conf:
    external: true
  crowdsec_data:
    external: true
  geoip_data:
    external: false
